.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 886px;
  box-sizing: border-box;
}

.results__list {
  padding: 0;
  width: 886px;
  border-radius: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}
